<%= javascript_packs_with_chunks_tag 'bookingsuccess', 'application' %>
<%= stylesheet_packs_with_chunks_tag 'bookingsuccess', 'application' %>

<div id="params" data-params="<%= @data %>"></div>
