.property-image {
  height: 200px;
  background-size:300px 200px;
  background-position: center;
  background-repeat: no-repeat;
}

.fa-check-circle {
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 80px;
}

.booking-dates {
  font-size: 13px;
  color: #beb9b8;
}
